@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2:wght@400;600;800&family=PT+Serif+Caption&display=swap');

.root {
    font-family: 'Baloo 2', cursive;
    width: 33%;
    margin: 10px auto;
    position: relative;
}

.link {
    color: #3f51b5;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

.actions {
    bottom: 0;
    justify-content: space-evenly;
    padding-bottom: 8px;
    position: absolute;
    width: 100%;
}

.button {
    background: black;
    border: 1px solid transparent;
    color: white;
    font-family: 'Baloo 2', cursive;
    transition: .25s;
}

.button:hover {
    background: transparent;
    border-color: black;
    color: black;
}

.details {
    font-size: smaller;
    margin-left: 10px;
}

.request { 
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
}

.icon {
    color: red;
    cursor: pointer;
    margin-left: 10px;
    width: 50%;
}

.panel {
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.15);
    font-size: small;
    position: absolute;
    padding: 10px;
    right: -144px;
    z-index: 1;
}
