@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2:wght@400;600;800&family=PT+Serif+Caption&display=swap');

.root {
    display: flex;
    width: 926px;
    margin: auto;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.square {
    border: 1px solid;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column-reverse;
    height: 340px;
    margin: 30px auto;
    padding: 10px 10px 50px;
    text-align: center;
    width: 380px;
}

@media (max-width: 926px) {
    .root {
        display: block;
        width: fit-content;
    }

    .img {
        height: 200px;
        width: 200px;
    }

    .square {
        width: 280px;
    }
}
