.root {
    flex-grow: 1;
}

.root > * {
    float: right;
}

.searchBar {
    width: fit-content;
    margin: 50px auto;
    float: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
}

.image {
    width: 128px;
    height: 128px;
}

.img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

