.root {
    background: white;
    box-shadow: none;
    color: black;
    font-size: small;
}

.account {
    margin: auto 20px;
}

.button {
    font-family: 'Baloo 2', cursive;
    font-size: small;
    margin-left: 10px;
}

.flex {
    display: flex;
}

.link {
    margin: auto 20px;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}

.link:hover {
    border-bottom: 1px solid;
}

.toggle {
    background: #343434;
    border-radius: 15px;
    cursor: pointer;
    height: 25px;
    width: 50px;
}

.toggle .thumb {
    background: white;
    border-radius: 50%;
    height: 19px;
    left: 0;
    margin: 3px;
    position: relative;
    width: 19px;
}

.toggle.dark {
    background: white;
}

.toggle.dark .thumb {
    background: #343434;
    left: 25px;
}

@media (max-width: 991.98px) {
    .flex {
        display: block;
    }

    .link {
        border-bottom: none;
        display: block;
        margin: 10px 20px;
    }

    .link:hover {
        border-bottom: none;
    }

    .logo {
        font-size: 1.25rem;
    }
}
