@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2:wght@400;600;800&family=PT+Serif+Caption&display=swap');

.tag {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Baloo 2', cursive;
}
