@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2:wght@400;600;800&family=PT+Serif+Caption&family=Roboto+Slab:wght@300&family=Poppins:wght@200&display=swap');
body {
  font-family: 'Baloo 2', cursive;
}

h1, h3 {
  font-family: 'Roboto Slab', serif;
}

a {
  color: #000;
  margin: 50px auto;
  text-decoration: none;
}

input {
  font-family: 'Baloo 2', cursive;
}

.App {
  text-align: center;
}

#loading {
  width: 20px;
  margin: 0 auto;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  #loading {
    animation: loading infinite 2.5s linear;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
